.wrapper {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
  z-index: 10;

  &.active {
    opacity: 1;
    pointer-events: all;

    .modal {
      transform: translateY(0);
    }
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  @extend %text-xl;

  margin-bottom: 2.4rem;
}

.modal {
  @extend %border;
  @extend %text;

  padding: 3rem;
  width: 70%;
  height: 70%;
  background: #fff;
  transform: translateY(-50vh);
  transition: 0.7s;

  .inputsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.input {
  @extend %border;
  @extend %text;

  padding: 1rem;
}

.sendBtn {
  @extend %border;

  padding: 1rem 8rem;
  border-radius: 5rem;

  &:hover {
    color: #fff;
    background-color: $blue;
  }
}
