.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $blue;
      border: 0.1 solid $blue;

      &:before {
        transform: translate(1.3em, -50%);
        background-color: $white;
      }
    }

    &:focus + .slider {
      border: 0.1rem solid $blue;
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  border: 0.1rem solid $lightGray;
  transition: 0.2s;
  border-radius: 30px;

  &:before {
    position: absolute;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20px;
    top: 50%;
    left: 0.25rem;
    background-color: $lightGray;
    transition: 0.2s;
    transform: translateY(-50%);
  }
}
