$mainFontSize: 10px;
$mainFontFamily: 'Inter';

$fontWeightLight: 400;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$titleBigFontSize: 2.4rem;
$titleBaseFontSize: 2rem;
$titleSmallFontSize: 1.6rem;

$extraLargeFontSize: 2rem;
$largeFontSize: 1.6rem;
$regularFontSize: 1.4rem;
$smallFontSize: 1.2rem;