.sidebar {
  padding: 2rem;
  height: 100vh;
  width: 30rem;
  background: $white;
}

.logo {
  font-size: 2.4rem;
  font-weight: 600;

  &::before {
    content: url('media/people-roof.svg');
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.pageLink {
  font-size: 1.4rem;
}
