.wrapper {
  margin-top: 0.8rem;
  position: relative;
  width: 19rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.dropdownBtn {
  @extend %border;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;

  &Active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.dropdownLabel {
  @extend %text-s;

  position: absolute;
  color: $gray;
  top: 0rem;
  left: 1rem;
  padding: 0.2rem 0.5rem;
  background: $white;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.2s;

  &Active {
    color: $blue;
  }
}

.option,
.selectedOption {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.placeholder {
  color: $gray;
  font-size: $regularFontSize;
  font-weight: $fontWeightRegular;
  line-height: 1.33;
  letter-spacing: 0.075rem;
}

.dropdownContent {
  @extend %border;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0.5rem;
  background: $white !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  transform-origin: top;
  transform: scaleY(0);
  transition: 200ms;
  z-index: -5;

  &Active {
    transform: scaleY(1);
    z-index: 5;
  }

  &Small {
    padding: 0;
  }
}

.dropdownItem {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: 200ms;

  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &:hover {
    background: $lightGray;
  }

  &Selected {
    pointer-events: none;

    &::before {
      content: '';
      position: absolute;
      right: 1.2rem;
    }
  }
}

.description {
  font-size: 2rem;
  font-weight: $fontWeightRegular;
  line-height: 1.15;
  letter-spacing: 0.065rem;
}
