.avatar {
  position: relative;
  transition: 0.2s;

  &.collapse {
    &:not(:first-child) {
      margin: 0 -1rem;
    }
    &:first-child {
      margin-left: -1rem;
    }
  }
  &:hover > div {
    opacity: 1;
    pointer-events: all;
  }

  &.avatarDropdown {
    margin: 0;
  }

  &.big {
    @extend %text-l;

    width: unset;
    padding: 0.75rem;
  }
}

.avatar {
  @extend %avatar;
}
