html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #f3f5f7;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:not([type='range']):focus {
  outline: 1px solid $blue;
}
input::placeholder {
  color: $gray;
}

button {
  transition: 0.15s;
}

textarea {
  @extend %border;
  @extend %text;

  font-family: inherit;
  outline: none;
  border: none;
}
